body {
    background-color: #000000;
    background-image: linear-gradient(100deg, #000000 20%, #767676 90%, #ffffff 99%);    
}
h1 {
    color: orangered;
}
h2 {
    color: darkorange;
}
h3 {
    color: goldenrod;
}
a {
    color: darkgreen;
}
.button {
    color: rgba(255, 0, 0, 0.7);
}